---
import Code from "../assets/icons/Code.astro"
---

<footer>
  <a href="https://portfolio-weld-five-97.vercel.app" target="_blank" rel="noopener" class="px-4 py-3 transition-colors bg-neutral-200 hover:bg-white text-black rounded-full font-semibold inline-flex gap-1">
    <Code class="size-6"/> Creado por 7R0N1X</a>
</footer>