<footer class="absolute bottom-0 py-4">
  <span class="text-white text-base">Mundo DJ | Creado con &hearts; por <a href="https://www.instagram.com/tronix.dev" target="_blank" rel="noopener">7R0N1X</a></span>
</footer>