---
const { href } = Astro.props;
---

<a href={href} target="_blank" rel="noopener" class="relative w-full h-[68px] py-4 px-16 bg-[#0000007e] backdrop-blur-sm shadow-md rounded-full font-medium text-white flex justify-center items-center transition hover:scale-105"> <slot /> </a>
